<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      Thank you for joining.
    </p>
    <p>
      We look forward to working together with you.
    </p>
<p>You are now an active user on the - <a href='techreflib.herokuapp.com'>Cetco Technical Resource Site</a></p>

	
<br>
  </body>
</html>