

<div class="row">
  <div class='span8 offset1'>
		<% if @post.type_is == 'Glossary' %>
		  <%= link_to 'New Glossary Term', new_post_path(:type_is => 'Glossary'), :class => 'btn btn-mini' %>
		<% else %>
		  <%= link_to 'New Technical Reference Document', new_post_path(:type_is => 'Documents'), :class => 'btn btn-mini' %>
		<% end %>	
  </div>
</div>
<br>

<%= render 'show' %>
